// Fuentes
$fuente_principal: 'Lato',
sans-serif;
// Tamaño de Media Queries
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
// Colores
$primario: #005b9f;
$secundario:#7b7b7b;
$terciario: #fcc11c;
$danger: #dc3545;
$success: #00d270;
$warning: #f9eb46;
$gris: #521822;
$negro: #000000;
$blanco: #FFFFFF;