// Fuentes
$main_source: 'Roboto',
sans-serif;
// Tamaño de Media Queries
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
// Colores
$primary: #005b9f;
$secondary:#7b7b7b;
$tertiary: #fcc11c;
$danger: #dc3545;
$success: #00d270;
$warning: #f9eb46;
$green: #23D160;
$gray: #521822;
$dark: #000000;
$light: #FFFFFF;